{% extends 'layout.html' %}

{% block title %}Login{% endblock %}
{% block content %}
    <h3>ログイン</h3>
    <table>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_table }}
                <tr>
                    <th></th>
                    <td>
                        <button class="btn" style="background: #cb989c; border: none;" type="submit">ログイン</button>
                    </td>
                </tr>
        </form>
    </table>
    <ul style="padding: 0px;">
        <li>
            <a href="{% url 'accounts:signup' %}">
                新規登録
            </a>
        </li>
        <li>
            <a href = "/accounts/password_reset">
                パスワードお忘れの方
            </a>
        </li>
    </ul>

{% endblock %}