{% extends 'layout.html' %}

{% block title %}Login{% endblock %}
{% block content %}
    <div class="form_area">
        <form class="common_form" method="POST">
            <h3>ログイン</h3>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn submit_btn" type="submit">ログイン</button>
        </form>
        <ul>
            <li>
                <a href="{% url 'accounts:signup' %}">
                    新規登録
                </a>
            </li>
            <li>
                <a href ="/accounts/password_reset/">
                    パスワードお忘れの方
                </a>
            </li>
        </ul>
    </div>

{% endblock %}