{% extends 'layout.html' %}

{% block title %}Reset Password Confirm{% endblock %}
{% block content %}
    <h3>パスワード再設定</h3>
    <table>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_table }}
                <tr>
                    <th></th>
                    <td>
                        <button class="btn" style="background: #cb989c; border: none;" type="submit">パスワード再設定</button>
                    </td>
                </tr>
        </form>
    </table>
{% endblock %}