{% extends 'layout.html' %}
{% load static %}
{% block extra_js %}
    <script src="{% static 'js/avatar_preview.js' %}"></script>
{% endblock %}

{% block title %}Signup{% endblock %}
{% block content %}
        <form class="common_form" method="POST" enctype="multipart/form-data">
            <h3>ユーザー編集</h3>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn submit_btn" type="submit">編集</button>
        </form>
    <a href="/accounts/password_change/">
        パスワード変更
    </a>
{% endblock %}