{% extends 'layout.html' %}

{% block title %}Signup{% endblock %}
{% block content %}
    <h3>ユーザー編集</h3>
    <table>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
                <tr>
                    <th></th>
                    <td>
                        <button class="btn" style="background: #cb989c; border: none;" type="submit">編集</button>
                    </td>
                </tr>
        </form>
    </table>
{% endblock %}