{% extends 'layout.html' %}
{% load static %}
{% block extra_js %}
    <script src="{% static 'js/avatar_preview.js' %}"></script>
{% endblock %}

{% block title %}Signup{% endblock %}
{% block content %}
    <h3>ユーザー編集</h3>
    <img src="" id="img_preview">
    <table>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
                <tr>
                    <th></th>
                    <td>
                        <button class="btn submit_btn" type="submit">編集</button>
                    </td>
                </tr>
        </form>
    </table>
    <a href="/accounts/password_change/">
        パスワード変更
    </a>
{% endblock %}