{% extends 'layout.html' %}
{% load static %}
{% block extra_js %}
    <script src="{% static 'js/avatar_preview.js' %}"></script>
{% endblock %}

{% block title %}Signup{% endblock %}
{% block content %}
    <div class="form_area">
        <form class="common_form" method="POST" enctype="multipart/form-data">
        <h3>ユーザー登録</h3>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn submit_btn" type="submit">ユーザー登録</button>
    </div>
    </form>
{% endblock %}
