<div id="comment_add">

</div>
{% for comment in comments %}
    <div class="shadow-sm rounded-pill comment_area">
        <diV class="flex-column comment_box">
            <div id="comment_user_username">
                <img class="my_img"
                     src="{{ comment.owner.avatar.url }}">
                {{ comment.owner.username }}
            </div>
            <div class="text-break comment_detail" >
                {{ comment.comment }}
            </div>
        </diV>
    </div>
{% endfor %}
<div class="fixed-bottom comment_form_area">
<!--    <form class="{{ content.pk }}" id="comment_btn_form" action="{% url 'content:comment_btn' %}" method="POST">-->
<!--        {% csrf_token %}-->
<!--        <div class="d-flex justify-content-center">-->
<!--            <input type="text" id="comment_input">-->
<!--            <button type="submit"  id="comment" class="btn">-->
<!--                <i class="fas fa-lg fa-comment submit_icon"></i>-->
<!--            </button>-->
<!--        </div>-->
<!--    </form>-->
    <form method="post" action="{% url 'content:comment_btn' %}" id="comment_btn_form" class="{{ content.pk }}">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
</div>