{% extends 'layout.html' %}
{% load static %}
{% block extra_js %}
    <script src="{% static 'js/file_preview.js' %}"></script>
{% endblock %}
{% block content %}
    <form class="common_form" method="POST" enctype="multipart/form-data">
        <video id="file_preview"
            playsinline
            autoplay
            muted>
        </video>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn submit_btn" type="submit">
            アップロード
        </button>
    </form>
{% endblock %}