{% extends 'layout.html' %}
{% block content %}
{% include 'content/my_profile_layout.html' %}
    {% for following in followings%}
        <div class="shadow-sm rounded connection_area" >
            <table>
                <tr>
                    <td>
                        <img class="my_img"
                             src="{{ following.follower.avatar.url }}">
                    </td>
                    <td>
                        <a href="{% url 'content:profile' following.follower.pk %}">
                            {{ following.follower.username}}
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endblock %}