<diV class="d-flex flex-row">
    <div>
        <form action="{% url 'content:good_btn' %}" method="POST">
            {% csrf_token %}
            {% if is_good %}
                <button type="submit"  id="good" name="{{ content.pk }}"
                        style="background-color: white; border-color: white; border-style: solid;">
                    <i class="fas fa-lg fa-heart" style="color: #cb989c;"></i>
                </button>
            {% else %}
            <button type="submit" id="good" name="{{ content.pk }}"
                    style="background-color: white; border-color: white; border-style: solid;">
                <i class="far fa-lg fa-heart" style="color: #cb989c;"></i>
            </button>
            {% endif %}
            </button>
        </form>
    </div>
    <div id="good_count">
        {{ good_count }}
    </div>
</diV>
