<diV class="d-flex flex-row">
    <div>
        <form action="{% url 'content:good_btn' %}" method="POST">
            {% csrf_token %}
            {% if is_good %}
                <button type="submit" class="good_btn" name="{{ content.pk }}">
                    <i class="fas fa-lg fa-heart submit_icon"></i>
                </button>
            {% else %}
                <button type="submit" class="good_btn" name="{{ content.pk }}">
                    <i class="far fa-lg fa-heart submit_icon"></i>
                </button>
            {% endif %}
        </form>
    </div>
    <div id="good_count">
        {{ good_count }}
    </div>
</diV>
