{% extends 'layout.html' %}
{% block content %}
<div class="d-flex flex-row">
    <div>
        <img class="img-fluid rounded-circle" style="height: 60px; width: 60px; object-fit: cover;" src="/media/{{ user.avatar }}">
    </div>
    <div style="padding: 15px;">
        {{ user.username }}
    </div>
    {% if user == request.user %}
        <div style="padding: 11px;">
            <div class="dropdown">
                <button class="btn dropdown-toggle-split" type="button" id="dropdown1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cogs" style="color: #cb989c;"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown1">
                    <a class="dropdown-item" href="{% url 'accounts:profile_edit' request.user.id %}">
                        ユーザー編集
                    </a>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        ログアウト
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
</div>
    <div>
    <div class="d-flex flex-row">
        <ul style="margin: 5px 10px 5px 10px ;" >
            <a href="{% url 'content:following' user.pk %}">
                <li>
                    follow
                </li>
                <li class="text-center">
                    {{ following_count }}
                </li>
            </a>
        </ul>
        <ul  style="margin: 5px 10px 5px 10px ;"  >
            <a href="{% url 'content:follower' user.pk %}">
                <li>
                    follower
                </li>
                <li class="text-center">
                    {{ follower_count }}
                </li>
            </a>
        </ul>
    </div>
</div>
<div>
    {% if request.user != user %}
    <form action="{% url 'content:profile' user.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn" style="background: #cb989c; border: none;" type="submit">
            {% if following and follower %}
                unfollow
            {% else %}
                follow
            {% endif%}
        </button>
    </form>
    {% endif %}
</div>
    {% for content in contents %}
    <div class="shadow-sm rounded" style="margin: 15px; padding: 15px;">
        <div class="d-flex flex-row">
            <img class="img-fluid rounded-circle" style="height: 30px; width: 30px; object-fit: cover;" src="/media/{{ content.owner.avatar }}">
            <a href="{% url 'content:profile' content.owner.pk %}">
                {{ content.owner.username }}
            </a>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="embed-responsive embed-responsive-21by9">
                    <video class="embed-responsive-item vide-js"
                           data-setup='{ "autoplay": true}'
                           controlsList="nodownload"
                           oncontextmenu="return false;"
                           playsinline
                           loop
                           muted>
                        <source src="/media/{{ content.upload }}" type="video/mp4">
                        <source src="/media/{{ content.upload }}" type="video/webm">
                    </video>
                </div>
            </div>
            <div class="col-md-7">
                <div class="flex-column">
                    <div class="text-break">
                        <a href="{% url 'content:show' content.pk %}">
                            {{ content.title }}
                        </a>
                    </div>
                    <div>
                         {{ content.created_at }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}