{% extends 'layout.html' %}
{% block content %}
<div class="d-flex flex-row">
    <div>
        <img class="my_profile_img" src="{{ user.avatar.url }}">
    </div>
    <div class="my_profile_username_area">
        <a href="{% url 'content:profile' user.pk %}">
            {{ user.username }}
        </a>
    </div>
    {% if user == request.user %}
        <div class="dropdown_area">
            <div class="dropdown">
                <button class="btn dropdown-toggle-split" type="button" id="dropdown1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-lg fa-cogs submit_icon"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown1">
                    <a class="dropdown-item" href="{% url 'accounts:profile_edit' request.user.id %}">
                        ユーザー編集
                    </a>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        ログアウト
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
</div>
    <div>
    <div class="d-flex flex-row">
        <ul class="follow_and_follower_count" >
            <a href="{% url 'content:following' user.pk %}">
                <li>
                    follow
                </li>
                <li class="text-center">
                    {{ following_count }}
                </li>
            </a>
        </ul>
        <ul class="follow_and_follower_count">
            <a href="{% url 'content:follower' user.pk %}">
                <li>
                    follower
                </li>
                <li class="text-center" id="follower_count">
                    {{ follower_count }}
                </li>
            </a>
        </ul>
    </div>
</div>
<div>
    {% if request.user != user %}
    <form action="{% url 'content:connection_btn' %}" method="POST">
        {% csrf_token %}
        <button class="btn submit_btn" id="check_connection" type="submit">
            {% if check %}
                unfollow
            {% else %}
                follow
            {% endif %}
        </button>
    </form>
    {% endif %}
</div>
{% include 'content/video.html' %}
<script type="text/javascript">
$(document).ready(function(event){
    $(document).on('click', '#check_connection', function(event){
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'content:connection_btn' %}",
            data: {
                'user_id': '{{ user.pk }}',
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: 'json',
            success: function(response){
                if (response.checked){
                    $('#check_connection').html('unfollow')
                }
                else {
                    $('#check_connection').html('follow')
                }
                $('#follower_count').text(response.follower_count)
            }
        });
    });
});
</script>
{% endblock %}