{% extends 'layout.html' %}
{% load static %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/connection.js' %}"></script>
{% endblock %}

{% block content %}
<div class="d-flex flex-row">
    <div>
        <img class="my_profile_img" src="{{ user.avatar.url }}">
    </div>
    <div class="my_profile_username_area">
        <a href="{% url 'content:profile' user.pk %}">
            {{ user.username }}
        </a>
    </div>
    {% if user == request.user %}
        <div class="dropdown_area">
            <div class="dropdown">
                <button class="btn dropdown-toggle-split" type="button" id="dropdown1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-lg fa-cogs submit_icon"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown1">
                    <a class="dropdown-item" href="{% url 'accounts:profile_edit' request.user.id %}">
                        ユーザー編集
                    </a>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        ログアウト
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
</div>
    <div>
    <div class="d-flex flex-row">
        <ul class="follow_and_follower_count" >
            <a href="{% url 'content:following' user.pk %}">
                <li>
                    follow
                </li>
                <li class="text-center">
                    {{ following_count }}
                </li>
            </a>
        </ul>
        <ul class="follow_and_follower_count">
            <a href="{% url 'content:follower' user.pk %}">
                <li>
                    follower
                </li>
                <li class="text-center" id="follower_count">
                    {{ follower_count }}
                </li>
            </a>
        </ul>
    </div>
</div>
<div>
    {% if request.user != user %}
    <form class="connection_btn_form" id="{{ user.pk }}"  action="{% url 'content:connection_btn' %}" method="POST">
        {% csrf_token %}
        <button class="btn submit_btn" id="check_connection" name="{{ user.pk }}" type="submit">
            {% if check %}
                unfollow
            {% else %}
                follow
            {% endif %}
        </button>
    </form>
    {% endif %}
</div>
{% include 'content/video.html' %}
{% endblock %}
