/*
- bootstrap
_ 独自のclass

*/

button:focus {
    outline:0;
}

body {
    width: 100%;
    height: 100%;
}

ul {
    padding: 0px;
    list-style: none;
}

a {
    color: black;
}
a:hover {
    color: gray;
    text-decoration: none;
}

p {
    margin: 0px;
}

.header_icon {
    color: white;
}

.btn {
    color: white;
}

/* form */
.form_area {
    margin: 0% 20px;
    padding: 15px 15px;
    border: solid;
    border-color: #cb989c;
    border-radius: 33px;

}
.common_form {
    display: flex;
    text-align: center;
    flex-direction: column;
}
input {
    margin: 3px 0px;
}
label[for="id_avatar"] {
    width: 100%;
    text-align: left;
}

/* layout.html */
.fixed-top {
    background-color: #cb989c;
}

.navbar-brand {
    padding-left: 21px;
}

.my_img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%; /* 半径が50%にして、綺麗な円になる。*/
}

.main {
    padding-top: 99px;
}

/* comment.html */
.comment_area {
    margin: 15px;
    padding: 15px;
}

.comment_box {
    margin-left: 20px;
}

.comment_form_area {
    /*
    display: flex;
    justify-content: center;
    flex-direction: row;
    */
    text-align: center;
    background-color: white;
    padding: 11px 30px;
}

.comment_btn {
    display: inline-block;
    width: 100%;
    background-color: #cb989c;
    border-color: white;
    border-style: solid;
    border-radius: 33px;
}

.comment_icon {
    color: white;
}
.submit_icon {
    color: #cb989c;
}

.submit_btn {
    background: #cb989c;
    order-color: white;
    border-style: solid;
    border-radius: 33px;
}

/* find.html */
.find_btn {
    height: 38px;
    width: 48px;
    margin-left: 3px;
}

/* follow & follower ページ*/
.my_profile_img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.my_profile_username_area {
    padding: 15px;
}
.connection_area {
    margin: 15px;
    padding: 15px;
}

/* good.html*/
.good_btn {
    background-color: white;
    border-color: white;
    border-style: solid;
}

/* profile.html */
.dropdown_area {
    padding: 15px;
}
.follow_and_follower_count {
    margin: 5px 10px 5px 10px ;
}

/* show.html */
.show_area {
    margin: 15px;
    padding: 15px;
}
.views_count_icon {
    margin: 1px 6px 1px 6px;
}

/* index good video */
.content_area {
    margin: 15px;
    padding: 15px;
}

#img_preview {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

#file_preview {
    height: 175px;
    width: 311px;
}

