{% load static %}
<!DOCTYPE html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script src="https://kit.fontawesome.com/f7264e661c.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="container">
    <header class="fixed-top " style="background-color: #cb989c;">
        <nav class="navbar navbar-light">
            <a class='navbar-brand' href="{% url 'content:index' %}" style="padding-left: 21px;">
                KuchiKuchi
            </a>
            <a class="navlink" href="{% url 'content:create' %}">
                <i class="fas fa-plus-square" style="color: white;"></i>
            </a>
            <a href="{% url 'content:good' %}">
                <i class="fas fa-heart" style="color: white;"></i>
            </a>
            <a href="{% url 'content:find' %}">
                <i class="fas fa-search" style="color: white;"></i>
            </a>
            {% if user.is_authenticated %}
                <a href="{% url 'content:profile' request.user.pk %}" style="padding-right: 21px;">
                    <img class="img-fluid rounded-circle" style="height: 30px; width: 30px; object-fit: cover;" src="/media/{{ request.user.avatar }}">
                </a>
            {% else %}
                <a class="nav-link" href="{% url 'login' %}">ログイン</a>
            {% endif %}
        </nav>
        {% if messages %}
            <div style=" background-color: #9c9ca6;" role="alert">
                {% for message in messages %}
                    <div style="center-block">
                        {{message}}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </header>
    <div style="padding-top: 100px;">
        {% block content %}{% endblock %}
    </div>
    <footer>
    </footer>
</body>
</html>